@model List<AssignmentDto>
@{
    ViewData["Title"] = "Assignments";
}

<html>
<head>
    <style>

    </style>
</head>

<body>
<h1>@ViewData["Title"]</h1>

<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Project</th>
        <th>Worker</th>
        <th>Created On</th>
        <th>Updated On</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var assignment in Model)
    {
        <tr>
            <td>@assignment.Title</td>
            <td><a asp-action="Get" asp-route-id="@assignment.AssignmentId">@assignment.Title</a></td>
            <td>@assignment.Status</td>
            <td>@assignment.Project.Name</td>
            <td>
                <a href="#" class="worker-name">@assignment.Project.Description</a>
            </td>
            <td>@assignment.CreatedOn</td>
            <td>@assignment.UpdatedOn</td>
            <td>
                <a asp-action="Edit" asp-route-id="@assignment.AssignmentId" class="btn btn-success">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
            </td>
        </tr>

    }
    </tbody>
</table>
</body>
</html>