@model WorkerDto
@{
    ViewData["Title"] = "Get";
}

<h1 style="text-align: center">Worker</h1>

<html>
<head>
    
</head>
<body>
    <a style="float:right" class="btn btn-info" asp-action="Edit" asp-route-id="@Model.WorkerId">Edit worker</a>
    <h2 style="text-align: left">Name: @Model.Name</h2>

    <div class="row worker-panel">
        <div class="col-sm-9">
            Email: @Model.Email
        </div>
    </div>
    <div class="row book-panel">
        <div class="col-sm-6">
            <p>Role: @Model.Role.Name</p>
            <p>Project: <a asp-action="Get" asp-controller="Projects" asp-route-id="@Model.Project.ProjectId">@Model.Project.Name</a></p>
            <p>Status: @Model.Status</p>
        </div>
        <div class="col-sm-6">
            <p>
                Assignments:
                @foreach (var g in Model.Assignments)
                {
                    <a class="badge badge-primary" asp-controller="Assignments" asp-action="Get" asp-route-id="@g.AssignmentId">@g.Title</a>
                }
            </p>
        </div>
    </div>
</body>
</html>

