@model List<WorkerDto>
@{
    ViewData["Title"] = "Workers";
}

    <html>
    <head>
        <h1>@ViewData["Title"]</h1>
    </head>
    <body>
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Project</th>
                    <th>Role</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var worker in Model)
                {
                    <tr>
                        <td><a asp-action="Get" asp-route-id="@worker.WorkerId">@worker.Name</a></td>
                        <td>@worker.Status</td>
                        <td>@worker.Project.Name</td>
                        <td>@worker.Role.Name</td>
                        <td>@worker.Email</td>
                       
                    </tr>
                }
                <a style="float:right" class="btn btn-info" asp-action="Create">Create new worker</a>
            </tbody>
        </table>
    </body>
    </html>

