@model List<Project>
@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var projects in Model)
        {
            <tr>
                <td><a asp-action="Get" asp-route-id="@projects.Id">@projects.Name</a></td>
                <td>@projects.Description</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@projects.Id" class="btn btn-success">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                </td>
            </tr>

        }
    </tbody>
</table>

